*{
	padding: 0;
}
body{
	margin:0;
}
.l{
	float:left;
	margin:auto;
}
.r{
	float:right;
	margin:auto 0;
}
.Top{
	height: 50px;
	width:100%;
	border-bottom: 5px solid;
	border-bottom-color: #393584;
}
.TopImg{
	float:left;
	height: inherit;
	width: auto;
}
.TopImg a{
	height: inherit;
}
.TopImg img{
	height: inherit;
}
.TopFont{
	float:right;
	height:inherit;
	font-family:STXingKai,STLiti,STHupo,STCaiyun;
	font-size:30px;
}
.TopFont ul{
	height:48px;
	margin-top:0;
}
.TopFont li{
	float:right;
	list-style:none;
	margin:10px 20px;
}
.TopFont a{
	text-decoration:none;
	color:black;
}
.Mid{
	height:2000px;
	width:100%;
}
.MidTopImg{
	height:596px;
	width:1500px;
	background: url(../img/MidTopImg.jpg) no-repeat;
	background-size:100%;
	margin:0 auto 20px auto;
}
.MidDerection{
	width:1200px;
	height:1404px;
	margin:0 auto;
}
.MidDerection a{
	text-decoration: none;
	font-size: 36px;
	font-family:STXingKai,STLiti,STHupo,STCaiyun;
	color:black;
}
.MidDerection ul{
	list-style: none;
}
.MDTop{
	width: inherit;
	height: 742px;
}
.MidIntro{
	float:left;
	height:742px;
	width:450px;
}
.MidDerection h2{
	margin-left:15px;
	font-size: 48px;
	font-family:STXingKai,STLiti,STHupo,STCaiyun;
	color:#393584;
}
.MidFont{
	width:440px;
	height: 600px;
	border:5px solid;
	font-size:36px;
	border-color: #393584;
	font-family:STXingKai,STLiti,STHupo,STCaiyun;
}
.MidFont p{
	width:400px;
	height:500px;
	margin:50px auto;
}
.MidWorks{
	float:right;
	height:742px;
	width:450px;
}
.MidWorks ul{
	margin:70px auto;
	width: 400px;
}
.MidWorks li{
	margin:10px 0;
}
.MidWorks span{
	float:right;
	font-size:30px;
}
.MidInformation{
	width:inherit;
	height:550px;
	margin-top:60px;
}
.MidInformation h2{
	width:208px;
	margin:auto;
}
.MDIFoot{
	border:5px solid;
	border-color: #393584;
	width:1190;
	height:448px;
	margin-top:40px;
	font-size:36px;
	font-family:STXingKai,STLiti,STHupo,STCaiyun;
}
.MDIFoot ul{
	margin:0;
}
.MDIFootL{
	float:left;
	height:400px;
	width:500px;
	margin-top:20px;
	margin-left:50px;
}
.MIDFootR{
	float:right;
	height:400px;
	width:500px;
	margin-top:20px;
	margin-right:50px;
}
.MDIFootL .sl{
	margin-right:20px;
}
.MIDFootR .sl{
	width:180px;
	margin-right:20px;
}
.Foot{
	width:inherit;
	height:70px;
	background-color:#393584;
}
.FootMid
{
	width:1200px;
	height: inherit;
	margin:0 auto;
	font-size:20px;
	color:white;
	line-height: 70px;
}
.FootMid a{
	font-size:18px;
	text-decoration: none;
	color:white;
	target: blank;
}
.FootMid a:hover{
	color:aqua;
}